* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
.body {
  background-color: #efefef;
}

/*nav*/

header {
  background-color: #000;
  width: 100%;
  clear: both;
  content: "";
  display: table;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu {
  width: 95%;
  margin: auto;
}
.imageNav {
  width: 80px;
  float: left;
  padding: 8px;
}
nav {
  float: right;
  color: white;
}

.li {
  list-style: none;
  margin-left: 4rem;
  padding: 2rem 0;
  float: left;
}
.a {
  font-weight: bold;
}
a:visited {
  color: #fff;
}
/*footer*/

.footer {
  background-color: #000;
  width: 100%;
  clear: both;
  content: "";
  display: table;
}
.footerMenu {
  width: 95%;
  margin: auto;
}
.copy {
  width: 150px;
  float: left;
  padding: 8px;
  color: #fff;
}
.linksBox {
  float: right;
}
.links {
  list-style: none;
  margin-left: 55px;
  padding: 30px 0;
  float: left;
}
.fb {
  width: 50px;
}
.ig {
  width: 50px;
}

/*card*/

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  width: 17rem;
  height: 30rem;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.imagen {
  width: 17rem;
}
.texto {
  margin: 1rem;
}

#especialCont {
  display: inline-block;
  margin-left: 300px;
}
#especialCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 350px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#especialCard .titulo {
  margin-left: 1rem;
  margin-top: 1rem;
}

#especialImg {
  width: 300px;
}
/*index*/
.base {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}
.tarjeta {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.tit {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.textacerca {
  display: inline-block;
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.4rem;
  text-align: center;
}
.imgmain {
  display: inline-block;
  width: 65%;
  margin-left: 17%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tarjetaprod {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.formcaja {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.form {
  margin-top: 16px;
  margin-bottom: 20px;
}

.campo {
  display: block;
  margin: 10px;
}
.productosFlex {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-content: center;
  justify-content: space-evenly;
}

.horquillasFlex {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.cuadrosFlex {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-content: center;
  justify-content: space-evenly;
}
.manubriosFlex {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-content: center;
  justify-content: space-evenly;
}
.stemFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.card .titulo {
  margin-left: 1rem;
}
