* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
.body {
  background-color: #efefef;
}
.imgLogo {
  width: 3rem;
}
/*footer*/

.footer {
  background-color: #000;
  width: 100%;
  clear: both;
  content: "";
  display: table;
}
.footerMenu {
  width: 100%;
  margin: auto;
}
.copy {
  width: 9rem;
  float: left;
  padding: 0.5rem;
  color: #fff;
}
.linksBox {
  float: right;
}
.links {
  list-style: none;
  margin-left: 4rem;
  padding: 2rem 0;
  float: left;
}
.fb {
  width: 3rem;
}
.ig {
  width: 3rem;
}

/*card*/

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  width: 17rem;
  height: 30rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-out;
}
.card:hover {
  scale: 110%;
}

.imagen {
  width: 16rem;
  border: solid 1px #000;
  margin-left: 0.45rem;
}
.texto {
  margin: 1rem;
}

#especialCont {
  display: inline-block;
  margin-left: 300px;
}
#especialCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 19rem;
  height: 24rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-out;
}
#especialCard .titulo {
  margin-left: 1rem;
  margin-top: 1rem;
  transition: all 0.5s ease-in-out;
}

#especialImg {
  width: 18rem;
  margin-left: 0.46rem;
  border: solid 1px #000;
}
#especialCard:hover {
  scale: 110%;
}
/*index*/
.base {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}
.tarjeta {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
.tarjeta:hover {
  scale: 110%;
}
.tit {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.textacerca {
  display: inline-block;
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.4rem;
  text-align: center;
}
.imgmain {
  display: inline-block;
  width: 65%;
  margin-left: 17%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tarjetaprod {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
.tarjetaprod:hover {
  scale: 110%;
}
.formcaja {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 28rem;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.form {
  margin-top: 16px;
  margin-bottom: 20px;
}

.campo {
  display: block;
  margin: 10px;
}
.productosFlex {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-content: center;
  justify-content: space-evenly;
}

.horquillasFlex {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.cuadrosFlex {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-content: center;
  justify-content: space-evenly;
}
.manubriosFlex {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-content: center;
  justify-content: space-evenly;
}
.stemFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.card .titulo {
  margin-left: 1rem;
  margin-top: 1rem;
}
article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mapa {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 28rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
iframe {
  width: 425px;
  height: 300px;
}
footer {
  margin-top: 50px;
}
/*media queries*/

@media (max-width: 350px) {
  .links {
    margin-left: 2rem;
  }
}
@media (max-width: 650px) {
  .productosFlex {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  #especialCard {
    margin-top: 3rem;
  }
}
@media (max-width: 840px) {
  .horquillasFlex {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .card {
    margin-bottom: 3rem;
  }
  h1 {
    margin-bottom: 3rem;
  }
  .formcaja {
    height: 28rem;
  }
}
@media (max-width: 560px) {
  .manubriosFlex {
    flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
@media (max-width: 770px) {
  .cuadrosFlex {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  iframe {
    width: 300px;
  }
}

@media (max-width: 830px) {
  .li {
    margin-left: 2rem;
    padding-top: 1rem;
    /*color: #fff;*/
  }
}
