/*card productos*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color__light;
  border-radius: 8px;
  width: 17rem;
  height: 30rem;
  margin-top: 3rem;
  box-shadow: $shadow;
  transition: $move;
  &:hover {
    scale: $scale;
  }
  & .titulo {
  margin-left: 1rem;
  margin-top: 1rem;
  }
  & .imagen {
  width: 16rem;
  border: $border;
  border-radius: 5px;
  margin-left: 0.45rem;
  }
  & .texto {
  margin: 1rem;
  } 
} 
  /* card productos main*/

#especialCard { 

  /* EXTEND */
  
  @extend .card;
  width: 19rem;
  height: 24rem;
  &:hover {
    scale: 110%;
    }
  & .titulo {
    margin-left: 1rem;
    margin-top: 1rem;
    transition: $move;
    }
  & #especialImg {
    width: 18rem;
    margin-left: 0.46rem;
    border: $border;
  }
}
/*card about*/
.base {
  margin: 50px 5%;
  & .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color__light;
    border-radius: 10px;
    box-shadow: $shadow;
    transition: $move;
    & .tit {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    }
    & .textacerca {
    display: inline-block;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1rem;
    text-align: center;
    }
  & a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      & .imgmain{
      width: 75%;
      height: 75%;
      margin-bottom: 2rem;
      border-radius: 8px;
      border: $border;
      }
    }
  }  
}  
