/*card productos*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color__light;
  border-radius: 8px;
  width: 17rem;
  height: 30rem;
  box-shadow: $shadowoff;
  transition: $move;
  &:hover {
    scale: $scale;
    box-shadow: $shadow;
  }
  & .titulo {
  margin-left: 1rem;
  margin-top: 1rem;
  }
  & .imagen {
  width: 16rem;
  border: $border;
  border-radius: 8px;
  margin-left: 0.45rem;
  }
  & .texto {
  margin: 1rem;
  } 
} 
  /* card productos main*/

#especialCard { 

  /* EXTEND */
  
  @extend .card;
  width: 19rem;
  height: 24rem;
  &:hover {
    scale: 110%;
    }
  & .titulo {
    margin-left: 1rem;
    margin-top: 1rem;
    transition: $move;
    }
  & #especialImg {
    width: 18rem;
    margin-left: 0.46rem;
    border: $border;
  }
}
/*card about*/
.base {
  margin: 50px 5%;
  & .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    & .tit {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.9rem;
    width: 100%;
    }
    & .rider{
      width: 100%;
      border-radius: 10px;
    }
    & .textacerca {
    width: 90%;
    margin-top: 1.3rem;
    margin-bottom: 4rem;
    text-align: center;
    }
  & a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 95%;
      & .imgmain{
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 8px;
      border: $border;
      }
  }
}