* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}
.body {
  background-color: #efefef;
}

/*nav*/ 
nav{
  background-color: $color__dark;
  & .imgLogo {
    width: 3rem;
  }
}
h1{
  margin-top: 1rem;
  margin-left: .7rem;
}
/*footer*/

footer {
  margin-top: 50px;
}
.footer {
  background-color: $color__dark;
  width: 100%;
  clear: both;
  content: "";
  display: table;  
  & .footerMenu {
    width: 100%;
    margin: auto;
    }
  & .copy {
    width: 9rem;
    float: left;
    padding: 0.5rem;
    color: $color__light;
    }
  & .linksBox {
      float: right;
      margin-right: 1rem;
    
    & .links {
      list-style: none;
      margin-left: 2rem;
      padding: 2rem 0;
      float: left;
      & .fb {
      width: 3rem;
      }
      & .ig {
      width: 3rem;
      }
      & .altop{
      width: 3rem;
      margin-right: 2rem;
      }
    }
  }
}

/*form*/

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  & .formcaja {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    height: 28rem;
    padding: 1.2rem;
    background-color: $color__light;
    border-radius: 8px;
    margin-top: 50px;
    box-shadow: $shadow;
  }
  /* mapa */
  & .mapa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 28rem;
    padding: 20px;
    background-color: $color__light;
    border-radius: 8px;
    margin-top: 50px;
    box-shadow: $shadow;
    & .iframe {
      width: 270px;
      height: 300px;
      border: $border;
      border-radius: 8px;
    }
  }  
}


