/*media queries*/
@media (min-width:768px){
  .iframe{
    width: 500px;
    height: 400px;
  }
  .productosFlex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 3rem;
  }
  .horquillasFlex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 3rem;
  }
  .cuadrosFlex{display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 3rem;
  }
  .manubriosFlex{
    flex-direction: row;
  }

}
@media (min-width:1024px){
  .iframe{
    width: 800px;
    height: 600px;
  }
  .horquillasFlex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 3rem;
  }
  .cuadrosFlex{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 3rem;
  }
  .productosFlex{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
  @mixin flex ($display, $direction, $align, $justify, $wrap){
    display: $display;
    flex-direction: $direction;
    align-content: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    }
  article{
    @include flex(flex,row,center,space-evenly,wrap)
  }
  .formcaja{
    @include flex(flex,row,center,space-evenly,wrap)
  }