/*media queries*/
@media (min-width:768px){
  .iframe{
    width: 500px;
    height: 400px;
  }
  @mixin flex ($display, $direction, $align, $justify, $wrap){
    display: $display;
    flex-direction: $direction;
    align-content: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    }
  .productosFlex {
    @include flex(flex ,column ,center ,space-evenly, wrap )
  }
  .horquillasFlex {
    @include flex(flex ,column ,center ,space-evenly,wrap )
  }
  .cuadrosFlex {
    @include flex(flex ,column ,center ,space-evenly,wrap )
  }
  .manubriosFlex {
    @include flex(flex ,row ,center ,space-evenly,wrap )
  }
  .stemFlex {
    @include flex(flex ,column ,center ,space-evenly,wrap )
  }
  article{
    @include flex(flex,row,center,space-evenly,wrap)
  }
  .formcaja{
    @include flex(flex,row,center,space-evenly,wrap)
  }
}
@media (min-width:1024px){
  .iframe{
    width: 800px;
    height: 600px;
  }
  @mixin flex ($display, $direction, $align, $justify, $wrap){
    display: $display;
    flex-direction: $direction;
    align-content: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    }
  .productosFlex {
    @include flex(flex,row,center,space-evenly,wrap)
  }
  .horquillasFlex {
    @include flex(flex,row,center,space-evenly,wrap)
  }
  .cuadrosFlex {
    @include flex(flex,row,center,space-evenly,wrap)
  }
  .manubriosFlex {
    @include flex(flex,row,center,space-evenly,wrap)
  }
  .stemFlex {
    @include flex(flex,row,center,space-evenly,wrap)
  }
  article{
    @include flex(flex,row,center,space-evenly,wrap)
  }
  .formcaja{
    @include flex(flex,row,center,space-evenly,wrap)
  }
}