/*card productos*/
.card, #especialCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  width: 17rem;
  height: 30rem;
  margin-top: 3rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}
.card:hover, #especialCard:hover {
  scale: 110%;
}
.card .titulo, #especialCard .titulo {
  margin-left: 1rem;
  margin-top: 1rem;
}
.card .imagen, #especialCard .imagen {
  width: 16rem;
  border: solid 1px #000;
  border-radius: 5px;
  margin-left: 0.45rem;
}
.card .texto, #especialCard .texto {
  margin: 1rem;
}

/* card productos main*/
#especialCard {
  /* EXTEND */
  width: 19rem;
  height: 24rem;
}
#especialCard:hover {
  scale: 110%;
}
#especialCard .titulo {
  margin-left: 1rem;
  margin-top: 1rem;
  transition: all 0.4s ease-in-out;
}
#especialCard #especialImg {
  width: 18rem;
  margin-left: 0.46rem;
  border: solid 1px #000;
}

/*card about*/
.base {
  margin: 50px 5%;
}
.base .tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}
.base .tarjeta .tit {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.base .tarjeta .textacerca {
  display: inline-block;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1rem;
  text-align: center;
}
.base .tarjeta a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.base .tarjeta a .imgmain {
  width: 75%;
  height: 75%;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: solid 1px #000;
}

/*flexs productos*/
.productosFlex {
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.horquillasFlex {
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cuadrosFlex {
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.manubriosFlex {
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.stemFlex {
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

.body {
  background-color: #efefef;
}

/*nav*/
nav {
  background-color: #000;
}
nav .imgLogo {
  width: 3rem;
}

/*footer*/
footer {
  margin-top: 50px;
}

.footer {
  background-color: #000;
  width: 100%;
  clear: both;
  content: "";
  display: table;
}
.footer .footerMenu {
  width: 100%;
  margin: auto;
}
.footer .copy {
  width: 9rem;
  float: left;
  padding: 0.5rem;
  color: #fff;
}
.footer .linksBox {
  float: right;
}
.footer .linksBox .links {
  list-style: none;
  margin-left: 2rem;
  padding: 2rem 0;
  float: left;
}
.footer .linksBox .links .fb {
  width: 3rem;
}
.footer .linksBox .links .ig {
  width: 3rem;
}
.footer .linksBox .links .altop {
  width: 3rem;
  margin-right: 2rem;
}

/*form*/
article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* mapa */
}
article .formcaja {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 28rem;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
article .mapa {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 28rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
article .mapa .iframe {
  width: 270px;
  height: 300px;
}

/*media queries*/
@media (min-width: 768px) {
  .iframe {
    width: 500px;
    height: 400px;
  }
  .productosFlex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .horquillasFlex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cuadrosFlex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .manubriosFlex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .stemFlex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  article {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .formcaja {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .iframe {
    width: 800px;
    height: 600px;
  }
  .productosFlex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .horquillasFlex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cuadrosFlex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .manubriosFlex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .stemFlex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  article {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .formcaja {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */